<h1>The gRunner Team</h1>

<table>
  <% @runner_groups.each do |group| %>
    <tr>
      <% group.each do |runner| %>
        <td>
          <%= link_to ( image_tag runner.photo.url(:thumb) ), runner %> <br />
          <%= runner.name %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Runner', new_runner_path %>
